<!-- views/partials/header.ejs -->

<!-- <nav class="navbar navbar-default" role="navigation"> -->
    <!-- <div class="container-fluid"> -->

        <!-- <div class="navbar-header"> -->
            <!-- <a class="navbar-brand" href="#"> -->
                <!-- <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span> -->
                <!-- EJS Is Fun -->
            <!-- </a> -->
        <!-- </div> -->

        <!-- <ul class="nav navbar-nav"> -->
            <!-- <li><a href="/">Home</a></li> -->
            <!-- <li><a href="/about">About</a></li> -->
        <!-- </ul> -->

    <!-- </div> -->
<!-- </nav> -->

     <div role="navigation" id="nav">
      <ul>
        <li class="active"><a href="/home">首页</a></li>
        <li><a href="/pass">修改密码</a></li>
        <li><a href="/logs">日志</a></li>
        <li><a href="/help">帮组文档</a></li>
      </ul>
    </div>