<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>车辆管理系统</title>

<!-- CSS (load bootstrap from a CDN) -->

<meta charset="utf-8">
<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
<!-- Loading Bootstrap -->
<!--     <link href="/css/bootstrap.min.css" rel="stylesheet"> -->
<!-- Loading Flat UI -->
<!-- <link href="/css/flat-ui.min.css" rel="stylesheet">
<link href="/css/demo.css" rel="stylesheet"> -->
<link rel="shortcut icon" href="img/favicon.ico">
<!-- <link rel='stylesheet' href='/css/style.css' /> -->
<link rel='stylesheet' href='/css/responsive-nav.css' />

<link rel='stylesheet' href='/css/footer.css' />

<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
<style>
    body    { padding-top:50px; }
</style>