    <div role="navigation" id="nav">
      <ul class="content">
        <li class="active"><a href="/home">首页</a></li>
        <!-- <li><a href="/pass">修改密码</a></li> -->
        <% if (user == "admin") { %>
          <li><a href="/users">用户管理</a></li>
        <%}%>
        <li><a href="/logs">日志</a></li>
        <li><a href="/vhiecles">车辆维修订单</a></li>
        <!-- <li><a href="/help">帮组文档</a></li> -->

		<li><a class="btn btn-primary btn-lg btn-block logoutBtn" href="#">注销 <%=user%></a></li>
      </ul>
	  
	</div>
<!-- script -->
<script src="/js/jquery.min.js"></script>
<script src="/js/video.js"></script>
<script src="/js/flat-ui.min.js"></script>
<script src="/js/application.js"></script>
      
<!-- <script src='/js/responsive-nav.js' /> -->
<script>
   $(function(){
<!-- var navigation = responsiveNav(".nav-collapse"); -->
  videojs.options.flash.swf = "dist/js/vendors/video-js.swf";
  });
</script>
<!-- script -->

<script>
    $(function(){
    	//console.log("可视化的数据显示");
    	$('.logoutBtn').click(function(){
		if(confirm("是否注销")){
    		$.ajax({
    			url:'/logout',
    			success:function(data){
    				console.log(data);
    				if(data=='ok'){
    					window.location.href='/';
    				}else{
    					alert('error!')
    				}
    			}
    		});
			}
    	});
    });
      videojs.options.flash.swf = "dist/js/vendors/video-js.swf"
    </script>