<!DOCTYPE html>
<html>
  <head>
	<% include ./partials/head %>
  </head>
  <body>
  
	<% include ./partials/header %>
  
    <div role="main" class="main">
      <a href="#nav" id="toggle">Menu</a>
      <div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">列表</div>

	  <div class="panel-body">
		<p>...</p>    
	  </div>


	<p>请输入用户名密码</p>
	<div class="login-form">

	<div class="form-group">
	  <input type="text" class="form-control login-field" value="" placeholder="用户名" id="login-name" />
	  <label class="login-field-icon fui-user" for="login-name"></label>
	</div>

	<div class="form-group">
	  <input type="password" class="form-control login-field" value="" placeholder="密码" id="login-pass" />
	  <label class="login-field-icon fui-lock" for="login-pass"></label>
	</div>
	</div>
	<p>
		<input type= "button" class="btn btn-primary btn-lg btn-block loginBtn" value= "新建"/>
	</p>  
	</div>

	<% include ./partials/footer %>
    </div>
	    <script>
    $(function(){
    	//console.log("可视化的数据显示");
    	$('.loginBtn').click(function(){
    		var name=$('#login-name').val();
    		var pwd=$('#login-pass').val();
    		$.ajax({
    			url:'/SaveNewUser',
    			data:{
    				name:name,
    				pwd:pwd
    			},
    			success:function(data){
    				console.log(data);
    				if(data=='ok'){
    					window.location.href='/home';
    				}else{
    					alert('error!')
    				}
    			}
    		});
    	});
    });
      videojs.options.flash.swf = "dist/js/vendors/video-js.swf"
    </script>
	
  </body>
</html>