<!DOCTYPE html>
<html>
  <head>
	<% include ./partials/head %>
  </head>
  <body>
  
	<% include ./partials/header %>

  

    <div role="main" class="main">
      <a href="#nav" id="toggle">Menu</a>
      <div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">列表</div>

	  <div class="panel-body">
		<p>...</p>    
	  </div>
	  <p>
		<input id="newUser" type="button" class="savebtn" value = "新建用户"/>

	  </p>
  <!-- Table -->
  <table class="table">
		<thead>
		  <tr>
			<th width = "80px">序号</th>
			<th width = "150px" min-width = "150px" max-width = "150px">用户</th>
			<th>密码</th>
			<th width = "150px">加入日期</th>
			<th></th>
		  </tr>
		</thead>
		<tbody>
		<%
		  var i = 1;    
		  userinfos.forEach(function(userinfo) {
		%>
		  <tr>
			<td scope="row"><%=i%></td>
			<td width = "150px"><%=userinfo.name%></td>
			<td width = "80px"><%=userinfo.passwd%></td>
			<td width = "150px"><%=userinfo.CreateTime.toLocaleString()%></td>
		  </tr>
		<%
		  i++;
		  });
		%>  
	</tbody>
  </table>
	  
	</div>


	<% include ./partials/footer %>

    </div>
    <script>
	   $(function(){
    <!-- var navigation = responsiveNav(".nav-collapse"); -->
      videojs.options.flash.swf = "dist/js/vendors/video-js.swf";
			$('.savebtn').click(function(){
			window.location.href='/pass';
		});
    });
      videojs.options.flash.swf = "dist/js/vendors/video-js.swf"
	
    </script>
	
  </body>
</html>