<!DOCTYPE html>
<html>
  <head>
	<% include ./partials/head %>
  </head>
  <body>
  
	<header>
		<% include ./partials/header %>
    </header>
  

    <div role="main" class="main wrapper">
      <a href="#nav" id="toggle">Menu</a>
      <div class="panel panel-default content">
	  <!-- Default panel contents -->
	  <div class="panel-heading">列表</div>

	  <div class="panel-body">
		<p>...</p>    
	  </div>


  <!-- Table -->
  <table class="table">
		<thead>
		  <tr>
			<th width = "80px">序号</th>
			<th width = "150px" min-width = "150px" max-width = "150px">用户</th>
			<th>密码</th>
			<th width = "150px">加入日期</th>
			<th></th>
		  </tr>
		</thead>
		<tbody>
		<%
		  var i = 1;    
		  userinfos.forEach(function(userinfo) {
		%>
		  <tr>
			<td scope="row"><%=i%></td>
			<td width = "150px"><%=userinfo.name%></td>
			<td width = "80px"><%=userinfo.passwd%></td>
			<td width = "150px"><%=userinfo.CreateTime.toLocaleString()%></td>
		  </tr>
		<%
		  i++;
		  });
		%>  
	</tbody>
  </table>
	  
	</div>

	<footer>
		<% include ./partials/footer %>
    </footer>
    </div>
	
      <!-- script -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/video.js"></script>
    <script src="/js/flat-ui.min.js"></script>
    <script src="/js/application.js"></script>
    <!-- <script src='/js/responsive-nav.js' /> -->
    <script>
	   $(function(){
    <!-- var navigation = responsiveNav(".nav-collapse"); -->
      videojs.options.flash.swf = "dist/js/vendors/video-js.swf";

      videojs.options.flash.swf = "dist/js/vendors/video-js.swf"
	
    </script>
    <!-- script -->

  </body>
</html>